<div class="top-row ps-3 navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" 
        href=""
        data-bs-toggle="tooltip" 
        data-bs-placement="right" 
        title="It's an alphabet adapter. The maximum length of text in the text area is 4000 characters."
        @onclick="CollapseNavMenuInNavbarBrand">Adapter</a>
        <button 
		title="Navigation menu" 
		class="navbar-toggler text-primary" 
		style="border-color:#0d6efd"
		@onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-primary" href="Latin-to-Chinese">
                <span class="oi oi-graph" aria-hidden="true"></span>Latin -> Chinese
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-primary" href="Chinese-to-Latin">
                <span class="oi oi-globe" aria-hidden="true"></span>Chinese -> Latin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-primary" href="Latin-to-Belarusian">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span>Latin -> Belarusian
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-primary" href="Belarusian-to-Latin">
                <span class="oi oi-eye" aria-hidden="true"></span>Belarusian -> Latin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-primary" href="Chinese-to-Belarusian">
                <span class="oi oi-layers" aria-hidden="true"></span>Chinese -> Belarusian
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-primary" href="Belarusian-to-Chinese">
                <span class="oi oi-infinity" aria-hidden="true"></span>Belarusian -> Chinese
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-primary" href="Latin-to-Russian">
                <span class="oi oi-sun" aria-hidden="true"></span>Latin -> Russian
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-primary" href="Russian-to-Latin">
                <span class="oi oi-pulse" aria-hidden="true"></span>Russian -> Latin
            </NavLink>
        </div>
		<div class="nav-item px-3">
			<NavLink class="nav-link text-primary" href="Belarusian-to-Russian">
				<span class="oi oi-transfer" aria-hidden="true"></span>Belarusian -> Russian
			</NavLink>
		</div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void CollapseNavMenuInNavbarBrand()
    {
        collapseNavMenu = true;
    }
}
